@model IEnumerable<Project.Application.ViewModels.Author.AuthorDto>

<h2>Authors</h2>

<a asp-action="Create" class="btn btn-primary">Create New</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Nationality</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.Nationality</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>